:root {
	--tbr-text-color: #333;
	--tbr-text-grey-color: #666;
	--url-text-color: #cfa911;
	--url-text-color-hover: #e6b800;
	--url-text-color-active: #ffdb4d;
	--url-text-color-visited: #b38f00;

	--tbr-body-color: #c1c1c1;
	--tbr-background-pattern: linear-gradient(22.5deg, rgba(67, 67, 67, 0.02) 0%, rgba(67, 67, 67, 0.02) 29%, rgba(47, 47, 47, 0.02) 29%, rgba(47, 47, 47, 0.02) 37%, rgba(23, 23, 23, 0.02) 37%, rgba(23, 23, 23, 0.02) 55%, rgba(182, 182, 182, 0.02) 55%, rgba(182, 182, 182, 0.02) 69%, rgba(27, 27, 27, 0.02) 69%, rgba(27, 27, 27, 0.02) 71%, rgba(250, 250, 250, 0.02) 71%, rgba(250, 250, 250, 0.02) 100%), linear-gradient(67.5deg, rgba(117, 117, 117, 0.02) 0%, rgba(117, 117, 117, 0.02) 14%, rgba(199, 199, 199, 0.02) 14%, rgba(199, 199, 199, 0.02) 40%, rgba(33, 33, 33, 0.02) 40%, rgba(33, 33, 33, 0.02) 48%, rgba(135, 135, 135, 0.02) 48%, rgba(135, 135, 135, 0.02) 60%, rgba(148, 148, 148, 0.02) 60%, rgba(148, 148, 148, 0.02) 95%, rgba(53, 53, 53, 0.02) 95%, rgba(53, 53, 53, 0.02) 100%), linear-gradient(135deg, rgba(190, 190, 190, 0.02) 0%, rgba(190, 190, 190, 0.02) 6%, rgba(251, 251, 251, 0.02) 6%, rgba(251, 251, 251, 0.02) 18%, rgba(2, 2, 2, 0.02) 18%, rgba(2, 2, 2, 0.02) 27%, rgba(253, 253, 253, 0.02) 27%, rgba(253, 253, 253, 0.02) 49%, rgba(128, 128, 128, 0.02) 49%, rgba(128, 128, 128, 0.02) 76%, rgba(150, 150, 150, 0.02) 76%, rgba(150, 150, 150, 0.02) 100%), linear-gradient(90deg, #ffffff, #ffffff);
}

a {
	color: var(--url-text-color);
	text-decoration: none;
	&:visited {
		color: var(--url-text-color-visited);
	}
	&:hover {
		color: var(--url-text-color-hover);
		text-decoration: underline;
	}
	&:active {
		color: var(--url-text-color-active);
	}
}

* {
		box-sizing: border-box;
} 

html, body {
		margin: 0;
		padding: 0;
		font-family: Arial, sans-serif;
		font-size: 14px;
		color: var(--tbr-text-color);
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
	width: 400px;
	background-color: var(--tbr-body-color);
}

.tbr-root-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	padding: 1rem;
	background-image: var(--tbr-background-pattern);
}

.tbr-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1rem;

	& > .tbr-header__title {
		font-size: 1.5rem;
		margin: 10px 0;
		text-align: center;
	}
	& > .tbr-header__subTitle {
		font-size: 1rem;
		margin: 0 0 10px 0;
		text-align: center;
		color: var(--tbr-text-grey-color);
	}
}

.tbr-main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	width: 100%;

	& > .tbr-controls {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		width: 100%;

		& > .tbr-controls__slider {
			width: 100%;

			& > input[type="range"] {
				width: 100%;
			}
		}
	}
}

.tbr-footer {
	margin-top: auto;
}

.tbr-warning-text {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	font-size: 0.85rem;
	color: #b22222;
	text-align: center;
	margin: 0;
	padding: 0.5rem 0;
}

.tbr-credit {
	color: var(--tbr-text-grey-color);
	text-align: right;
	margin: 0;
	font-size: 0.75rem;
	font-style: italic;
}

.tbr-controls__slider {
  position: relative;
  width: 100%;
  height: 14px;
}

#vol-slider {
  -webkit-appearance: none;
	appearance: none;
  width: 100%;
  height: 14px;
  border-radius: 7px;
  background: #ccc;
  outline: none;
  position: relative;
  z-index: 1;
}

#vol-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #333;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

#vol-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #333;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.slider-ticks {
	position: absolute;
	top: 50%;
	height: 30px;
	width: 100%;
	pointer-events: none;
	transform: translateY(-50%);
	z-index: 1;
}

.slider-ticks .tick {
	position: absolute;
	width: 1px;
	height: 10px;
	background: #000;
	transform: translateX(-50%);
	z-index: 1;
}